---
import IconHash from "@/assets/icons/IconHash.svg";

type Props = {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
};

const { tag, tagName, size = "lg" } = Astro.props;
---

<li>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "inline-flex items-center gap-1",
      "rounded-full bg-accent/5 px-3 py-1",
      "ring-1 ring-inset ring-accent/20",
      "hover:bg-accent/10 hover:ring-accent/40 hover:-translate-y-0.5 transition-all duration-300",
      "focus-visible:ring-accent focus-visible:outline-none text-accent",
      { "text-xs tracking-wide": size === "sm" },
      { "text-sm tracking-wide": size === "lg" },
    ]}
  >
    <IconHash
      class:list={[
        "opacity-80",
        { "size-5": size === "lg" },
        { "size-4": size === "sm" },
      ]}
    />
    {tagName}
  </a>
</li>
